body {
    margin: 0;
    font-family: 'Poppins';

    font-size: 15px;
    line-height: 1.6;
    color: #333;

    height: 3250px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

/* Container */

.container {
    width: 100%;
    max-width: 1253px;
    margin: 0 auto;
}


/* Header */

.header {
    display: flex;
    width: 100%;
    height: 1000px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #0d0d13 92.19%), url(../image/backgrounds/head-bg.png);
}

.header__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 42px 95px 0 95px;
}



.head-images {
    width: 230px;
    height: 60px;

    text-align: center;
}

.head__image-1 {
    width: 60px;
}

.header__content {
    margin: 312px 0 10px 0;
}

.head__suptitle {
    display: inline-block;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #fff;
}

.head__title {
    display: inline-flex;
    font-weight: bold;
    font-size: 100px;
    line-height: 150px;
    color: rgb(125, 216, 208);
}

.player {
    margin-top: 54px;

    display: flex;
    align-items: center;
}

.pause__player {
    width: 25px;
}

.player__line {
    width: 950px;
    height: 3px;
    margin-left: 30px;

    background-color: #fff;
}

.player__time {
    color: #fff;
    margin-left: 30px;
}

/* Nav */

.nav__link {

    display: inline-block;
    vertical-align: top;
    margin: 0 25px;

    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.nav__link:last-child {
    padding-right: 30px;
}

.nav__link:hover {
    color: rgb(23, 170, 255);
    text-decoration: underline;
}

/* Card */

.card {
    margin-top: 143px;

    display: flex;
    justify-content: space-between;
}

.card__news {
     width: 33%;
}

.card-background-1 {
    position: absolute;
    width: 350px;
    height: 300px;

    background: url(../image/card/1.png) left center no-repeat;
    background-size: cover;
}

.card-background-2 {
    position: absolute;
    width: 350px;
    height: 300px;

    background: url(../image/card/2.png) left center no-repeat;
    background-size: cover;
}

.card-background-3 {
    position: absolute;
    width: 350px;
    height: 300px;

    background: url(../image/card/3.png) left center no-repeat;
    background-size: cover;
}

.card__news  p {
    margin-top: 218px;
    padding: 15px 15px;

    font-weight: 500;
    font-size: 16px;
    color: #fff;

    background: #7a66cc9f;
    border-radius: 20px 0px;
}

/* Content */

.content {
    width: 100%;
    height: 100%;
    background: #0d0d13;
}

/* About Us */

.about_us {
    padding-top: 150px;
}

.about_us__header {
    display: flex;
    margin-top: 200px;
    align-items: center;

    width: 400px;
    height: 72px;
}

.about_us__logo {
    width: 64px;
    height: 41px;
    margin-right: 30px;
    vertical-align: top;
}

.about_us__image {
    max-width:100%;
    height:auto;
}

.about_us__title {
    color: #fff;
    font-weight: bold;
    font-size: 40px;
}

.about_us__content {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    width: 1110px;
    height: 494px;
}

.about_us__text {
    width: 50%;
    height: 320px;
    margin-top: 60px;
}

.about_us__text p {
    font-size: 16px;
    line-height: 24px;
    color: rgb(165, 165, 165);
}

.about_us__card {
    padding-left: 100px;
    width: 445px;
    height: 466px;
}

.about_us__card-1 {
    position: absolute;

    width: 350px;
    height: 400px;
    background: url(../image/Aboutus/1.png) no-repeat;
    border-radius: 30px 0px;
    z-index: 1;
}

.about_us__card-2 {
    width: 350px;
    height: 400px;
    transform: translate(95px, 66px);

    background: url(../image/Aboutus/2.png) no-repeat;
    border-radius: 30px 0px;
}

.about_us__have {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 500px;
    height: 100px;
}

.about_us__have-1 {
    display: flex;
    margin: 0 15px 0 15px;

    width: 30px;
    height: 30px;

    background: #7A66CC;
    border-radius: 10px 0px;
}

.about_us__have-ic {
    font-weight: 600;
    font-size: 18px;
}

/* Mtv */

.mtv_container {
    margin-top: 300px;
    margin-right: 0;
    width: 1110px;
    height: 483px;
}

.mtv__content {
    display: inline;
    width: 1100px;
    height: 483px;
}

.mtv__text {
    width: 520px;
    height: 136px;
}

.mtv__text p {
    font-size: 18px;
    line-height: 27px;
}

.mtv__link {
    font-size: 18px;
    color: #7A66CC;

    text-decoration: none;
}

.mtv__link:hover {
    text-decoration: underline;
}

.mtv__bg {
    background: url(../image/mtv/Rectangle\ 19.png) right top no-repeat;

    width: 370px;
    height: 480px;
}
